body {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: rgb(40, 168, 168);
    padding: 16px;
}

flex-container {
    display: flex;
    flex-flow: column nowrap;
}

.ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

li {
    color: white;
    font-family: Impact, Haettenschweiler, sans-serif;
    padding-left: 15px;
    border-left: 1px groove white;
}